.cart-items {
    max-height: calc(127px * 3);
    overflow-x: scroll;
    padding-left: 5px;
}

.loader {
    border: 4px solid #f3f3f3;
    border-top: 4px solid #53b847;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    animation: spin 2s linear infinite;
}

.content-section .page-title {
    margin: 0 0 25px;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.checkout-map .locationButton {
    border-radius: 50%;
    width: 61px;
    height: 61px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    background-color: #53b847;
    border: none;
    position: absolute;
    right: 60px;
    bottom: 36px;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

#phone,
.iti {
    direction: ltr;
    text-align: left;
}

.iti--allow-dropdown .iti__flag-container .iti__selected-flag,
.iti--allow-dropdown .iti__flag-container:hover .iti__selected-flag {
    background-color: transparent;
}

.iti.iti--allow-dropdown {
    width: 100%;
}

.error-text-alert {
    color: red;
    display: inline-block;
}

.time-range {
    width: initial;
}

.time-range .time-text {
    padding-top: 5px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.times-list {
    max-width: initial;
}

.delivery-date-input {
    border: none;
    border-bottom: 1px solid #dbdbdb;
    padding: 0 20px;
    height: 50px;
    font-size: 18px;
    color: #a4a4a4;
    width: 100%;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-color: #fff;
}

.shake {
    animation: shake .82s cubic-bezier(.36, .07, .19, .97) both infinite;
    transform: translate3d(0, 0, 0);
    backface-visibility: hidden;
    perspective: 1000px
}

@keyframes shake {
    10%, 90% {
        transform: translate3d(-1px, 0, 0)
    }
    20%, 80% {
        transform: translate3d(2px, 0, 0)
    }
    30%, 50%, 70% {
        transform: translate3d(-4px, 0, 0)
    }
    40%, 60% {
        transform: translate3d(4px, 0, 0)
    }
}

.float-field input, .float-field textarea {
    -webkit-text-fill-color: #bbb !important;
    min-height: 45px;
    border: none;
    border-radius: 22.5px;
    width: 100%;
    background-color: #f7f7f7;
    padding: 15px;
    -webkit-box-shadow: none;
    box-shadow: none;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

.float-field textarea:focus {
    background-color: #f2f2f2;
    outline: none;
}

.top-header .img-logo img{
    max-width: 50px;
}
